/**** RESET CSS ****/

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/**** / RESET CSS ****/

/**** GENERAL VARIABLES ****/

:root {
    --color-blue:#0065FC;
    --color-lightblue:#DEEBFF;
    --color-grey:#F2F2F2;
}

body {
    font-family: 'Raleway', sans-serif;
}

.container {
  padding:20px 40px 20px 40px;
}

button, a {
  cursor:pointer;
}

/**** HEADER ****/
header {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:80px;
    /* padding:20px; */
}

a {
    text-decoration: none;
    color:black;
}

.logo {
    width:100px;
    height:50px;
}

nav a{
    margin-left:40px;
    color:var(--color-blue);
    font-weight:500;
}

nav a:nth-child(2){
    color:black;
}
nav a:last-child {
    font-weight:bold;
}

/**** MAIN ****/
h1 {
  font-size:20px;
}

p {
  font-size:12px;
  margin-top:5px;
}

    /** RESEARCH BAR **/
div.research-bar {
  display:flex;
  margin-top:15px;
  height:35px;
}

div.research-localisation {
  border-radius:10px 0 0 10px;
  width:35px;
  height:35px;
  line-height:35px;
  background-color:var(--color-grey);
  text-align:center;
}

.research-bar input {
  border : 1px solid var(--color-grey);
  outline:none;
  font-weight:bold;
  font-size:15px;
  padding:0 10px;
}

.research-bar button {
  color:white;
  background-color:var(--color-blue);
  outline:none;
  border-radius: 0 10px 10px 0;
  border:none;
  font-size:12px;
  font-weight:bold;
  padding:0 15px;
}

    /** FILTER BAR **/
.filter-bar {
  margin-top:25px;
  display:flex;
  align-items: center;
}

.filter-bar h2 {
  margin-right:20px;
  font-size: 15px;
}

.filter-bar button {
  border-radius:20px;
  height:37px;
  border:2px solid #DBDBDB;
  padding:0;
  margin-right:15px;
  background-color:white;
  outline:none;
}

.filter-bar button:hover {
  background-color:#DEDCDC;
  transition-duration: .1s;
}

.filter-bar button i {
  height:37px;
  width:37px;
  line-height:37px;
  border-radius:50%;
  background-color:var(--color-lightblue);
  color:var(--color-blue);
  margin:-2px;
}

.filter-bar button span {
  font-size:15px;
  font-weight:bold;
  padding:0 12px;
}

    /** INFORMATIONS **/
.informations {
  display:flex;
  align-items: center;
  margin-top:25px;
}

.informations i {
  width:18px;
  height:18px;
  line-height:14px;
  border-radius:50%;
  font-size:10px;
  border : 1px solid #DEDCDC;
  color: var(--color-blue);
  text-align: center;
  margin-right:10px;
}

.informations span {
  font-size:12px;
}