/************** GENERAL VARIABLES ******************/
:root {
  --color-blue:#0065FC;
  --color-lightblue:#DEEBFF;
  --color-grey:#F2F2F2;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width:1680px;
  margin:auto;
  padding:20px 40px 20px 40px;
}

button, a {
  cursor:pointer;
}

a {
  text-decoration: none;
  color:black;
}

img {
  max-width:100%;
}

h1 {
  font-size:20px;
  margin-bottom:5px;
}

p {
  font-size:12px;
}

/********************** HEADER **********************/
header {
  display:flex;
  align-items: center;
}

.logo {
  width:100%;
  height:80px;
}

.logo a img {
  height:80px;
}

nav {
  display:flex;
  flex:none;
}

nav a{
  display:flex;
  flex:none;
  margin-right:40px;
  color:var(--color-blue);
  font-weight:500;
}

nav a:last-child {
  color:black;
}

.registration-btn a {
  font-weight:700;
  color:var(--color-blue);
}

/************** MAIN HEADER SECTION ********************/

/******************* RESEARCH BAR *******************/
.research-bar {
  display:flex;
  margin-top:20px;
  height:35px;
}

.research-localisation {
  flex:none;
  width:35px;
  height:35px;
  line-height:35px;
  border-radius:13px 0 0 13px;
  background-color:var(--color-grey);
  text-align:center;
}

.research-bar input {
  border : 1px solid var(--color-grey);
  outline:none;
  font-weight:bold;
  font-size:15px;
  padding:0 10px;
}

.research-bar button {
  color:white;
  background-color:var(--color-blue);
  outline:none;
  border-radius: 0 13px 13px 0;
  border:none;
  font-size:12px;
  font-weight:bold;
  padding:0 15px;
}

.research-bar button i {
  display:none;
}

/*********************** FILTER BAR ***********************/
.filter-bar {
  margin-top:25px;
  display:flex;
  align-items: center;
}

.filter-bar h2 {
  margin-top:10px;
  margin-right:20px;
  font-size: 15px;
}

.filter-bar-btn {
  display:flex;
}

.filter-bar button {
  display:flex;
  flex-wrap:nowrap;
  align-items: center;
  border-radius:20px;
  height:37px;
  border:2px solid #DBDBDB;
  padding:0;
  margin-top:10px;
  margin-right:16px;
  background-color:white;
  outline:none;
}

.filter-bar button:hover {
  background-color:#DEDCDC;
  transition-duration: .1s;
}

.filter-bar button i {
  height:37px;
  width:37px;
  line-height:37px;
  border-radius:50%;
  background-color:var(--color-lightblue);
  color:var(--color-blue);
  margin:-2px;
}

.filter-bar button span {
  font-size:15px;
  font-weight:bold;
  padding:0 12px;
}

/*********************** INFORMATIONS ***********************/
.informations {
  display:flex;
  align-items: center;
  margin-top:25px;
}

.informations i {
  width:18px;
  height:18px;
  line-height:14px;
  border-radius:50%;
  font-size:10px;
  border : 1px solid #DEDCDC;
  color: var(--color-blue);
  text-align: center;
  margin-right:10px;
}

.informations span {
  font-size:12px;
}


/******************* ACCOMODATIONS CARDS *********************/

/** Common CSS for accomodations **/
#accomodations-cards {
  display:flex;
  justify-content: space-between;
  margin-top:25px;
}
div.accomodations-main-cards,
aside.accomodations-popular-cards {
  background-color:var(--color-grey);
  border-radius:20px;
  padding:30px;
}
div.accomodations-main-cards h2,
aside.accomodations-popular-cards h2 {
  font-size:20px;
}
.card,
.popular-card {
  margin-bottom:20px;
  padding:5px;
  background-color:white;
  border-radius:20px;
  box-shadow: -2px 1px 5px -1px rgba(118,115,115,0.69);
  -webkit-box-shadow: 0px 0px 5px -1px rgba(118,115,115,0.69);
  -moz-box-shadow: -2px 1px 5px -1px rgba(118,115,115,0.69);
}
.card h3,
.popular-card h3 {
  font-size:15px;
}
.card-infos {
  margin: 5px 0 0 5px;
}
.card-notes i {
  font-size:12px;
}
.card-notes i.full {
  color:var(--color-blue);
}

.card-notes i:not(.full) {
  color:var(--color-grey);
}

/** Main accomodations results **/

.accomodations-main-cards {
  width:67%;
  margin-right:30px;
}

.accomodations-cards-group {
  display:flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top:20px;
}
.card {
  display:block;
  width: calc(33.33% - 40px / 3);
}
.card img {
  width:100%;
  height:100px;
  border-radius:20px 20px 0 0;
  object-fit: cover;
}
a.more-cards {
  font-weight:bold;
  font-size:13px;
}

/** Popular accomodations results **/
aside.accomodations-popular-cards {
  flex:0 1 40%;
  width:30%;
}
.accomodations-popular-title {
  display:flex;
  align-items:center;
  justify-content: space-between;
  margin-bottom:20px;
}
.accomodations-popular-title i {
  font-size:24px
}
.popular-card {
  display:flex;
  height:125px;
  min-height:100%;
}
.popular-card figure {
  flex: 0 1 100%;
  max-width:90px;
  margin-right:20px;
  height:100%;
}
.popular-card img {
  border-radius:20px 0 0 20px;
  object-fit: cover;
  height:100%;
  width:100%;
}
.popular-card .card-infos {
  display:flex;
  justify-content: space-between;
  flex-direction: column;
}


/*********************** Activités ***********************/

#activity-cards {
  margin-top:35px;
}

#activity-cards h2 {
  font-size:20px;
}

#activity-cards h3 {
  font-size:16px;
  padding:10px 10px 14px 10px;   
}

.activity-cards-group {
  display:flex;
  margin-top:20px;
}

.first-group-activities,
.second-group-activities {
  display:flex;
}

.first-group-activities > a,
.second-group-activities > a {
  display:block;
  max-width:370px;
  border-radius:20px;
  margin-right:40px;
  box-shadow: -2px 1px 5px -1px rgba(118,115,115,0.69);
  -webkit-box-shadow: 0px 0px 5px -1px rgba(118,115,115,0.69);
  -moz-box-shadow: -2px 1px 5px -1px rgba(118,115,115,0.69);
}

.first-group-activities > a figure img,
.second-group-activities > a figure img {
  height:350px;
}
.first-group-activities a figure img,
.second-group-activities a figure img {
  border-radius:20px 20px 0 0;
  object-fit: cover;
}

.activity-aside-cards {
  max-width:370px;
  max-height:400px;
  flex: 1 1 100%;

}

.activity-aside-cards > a{
  display:block;
  width:100%;
  height:175px;
  border-radius:20px;
  box-shadow: -2px 1px 5px -1px rgba(118,115,115,0.69);
  -webkit-box-shadow: 0px 0px 5px -1px rgba(118,115,115,0.69);
  -moz-box-shadow: -2px 1px 5px -1px rgba(118,115,115,0.69);
}

.first-aside-cards{
  margin-right:40px;
}

.activity-aside-cards a:first-child {
  display:block;
  width:100%;
  margin-bottom:35px;
  height:190px;
}
.activity-aside-cards a:first-child figure img {
  height:145px;
}

.activity-aside-cards > a figure img {
  width:100%;
  height:130px;
}


/************************** Footer **************************/
footer {
  background-color: var(--color-grey);
  padding:25px 0;
  margin-top:20px;
}

.footer-container {
  display:flex;
  justify-content: space-between;
  max-width:77%;
}

.footer-container div {
  padding-top:10px;
}

.footer-container h2 {
  font-size:15px;
}

.footer-container ul {
  padding:0;
}

.footer-container ul li {
  list-style:none;
}

.footer-container ul li a {
  font-size:14px;
}


/************** MEDIA QUERIES ****************/

/*********************** SMALL DESKTOP ***********************/
@media only screen and (max-width: 1245px) {

  .first-group-activities > a,
  .second-group-activities > a {
    max-height:400px;
  }

  .first-group-activities > a figure,
  .second-group-activities > a figure {
    height:340px;
  }

  .first-group-activities > a figure img,
  .second-group-activities > a figure img{
    height:100%;
  }

  .activity-aside-cards a:first-child figure,
  .activity-aside-cards a:first-child figure img {
    width:100%;
    height:135px;
  }

}

/***************************** TABLET *****************************/
@media only screen and (max-width: 1024px) {

  .container {
    padding:30px 50px 30px 50px;
  }

  .main-header {
    margin-top:20px;
  }

  .filter-bar {
    flex-wrap:wrap;
  }
  .filter-bar-btn {
    flex-wrap:wrap;
  }

  #accomodations-cards {
    flex-wrap:wrap;
  }
  div.accomodations-main-cards {
    order:2;
    width:100%;
    margin-right:0;
    margin-bottom:20px;
  }
  aside.accomodations-popular-cards {
    flex:none;
    width:100%;
    order:1;
    margin-bottom:30px;
  }
  .popular-cards-group .popular-card figure {
    max-width:180px;
  }

  .activity-cards-group {
    flex-wrap:wrap;
  }
  .first-group-activities,
  .second-group-activities {
    max-width:924px;
    flex: 1 1 100%;
  }
  .first-group-activities a,
  .second-group-activities a{
    max-width:442px;
  }
  .first-aside-cards {
    margin-right:0;
  }
  .activity-aside-cards {
    max-width:442px;
  }
  .second-group-activities {
    flex-direction:row-reverse;
    margin-top:40px;
  }
  .second-group-activities > a {
    margin-left:40px;
    margin-right:0;
  }

  .footer-container {
    max-width:100%;
  }

}

/************************* SMARTPHONE ***************************/
@media only screen and (max-width: 767px) {
  .container {
    padding:0;
    max-width:100%;
    margin:0;
  }

  header {
    flex-wrap:wrap;
    justify-content: space-between;
    padding-top:20px;
  }
  .logo {
    order:1;
    width:auto;
    padding-left:20px;
  }
  .logo a img {
    height:60px;
  }

  .registration-btn{
    margin-bottom:10px;
    order:2;
    padding-right:20px;
  }

  nav {
    order:3;
    width:100%;
    justify-content: space-around;
  }

  nav a {
    display:block;
    width:50%;
    text-align: center;
    margin:0;
    padding:8px 0;
  }

  nav a:first-child {
    border-bottom: 3px solid var(--color-blue);
  }
  nav a:last-child {
    border-bottom: 3px solid var(--color-grey);
  }

  .main {
    width:100%;
  }
  .main-header {
    padding:0 20px;
  }
  h1 {
    font-size:24px;
    margin-bottom:10px;
  }

  p {
    font-size:16px;
  }

  .research-bar input {
    width:100%;
  }
  .research-bar button {
    border-radius:8px;
  }
  .research-bar button i {
    display:block;
  }
  .research-bar button span{
    display:none;
  }

  .filter-bar {
    display:block;
    padding:20px;
    margin-top:0;
  }
  .filter-bar h2 {
    display:inline-block;
    font-size:20px;
    margin-right:0;
  }
  .filter-bar-btn{
    width:100%;
    margin-top:10px;
  }

  .informations {
    padding:0 20px;
    margin-top:0;
  }
  .informations i {
    width:20px;
    height:20px;
    line-height:20px;
    font-size:12px;
    flex:none;
  }
  .informations span {
    font-size:14px;
  }

  #accomodations-cards {
    flex-wrap:wrap;
  }
  #accomodations-cards h2 {
    font-size:24px;
  }
  div.accomodations-main-cards {
    background-color: white;
  }
  div.accomodations-main-cards,
  aside.accomodations-popular-cards {
    border-radius:0;
    padding:20px;
  }
  .popular-card {
    display:flex;
    height:160px;
  }
  .popular-card figure {
    height:auto;
    margin-right:10px;
  }
  .popular-cards-group .popular-card figure {
    max-width:100px;
  }
  .card {
    width:100%;
    height:240px;
  }
  .card img {
    height:150px;
  }

  #activity-cards {
    display:flex;
    flex-wrap:wrap;
    padding:20px;
    margin-top:0;
  }
  #activity-cards h2 {
    font-size:24px;
  }
  #activity-cards h3 {
    padding: 15px 10px 14px 15px;
  }
  .activity-cards-group {
    width:100%;
    height:100%;
  }
  .activity-cards-group a {
    max-width:100%;
    height:190px;
  }
  .activity-cards-group div {
    width:100%;
  }
  .first-group-activities,
  .second-group-activities {
    flex-wrap:wrap;
  }
  .first-group-activities > a,
  .second-group-activities > a {
    max-width:100%;
    margin:0 0 35px 0;
  }
  .first-group-activities > a figure,
  .second-group-activities > a figure {
    height:135px;
  }
  .first-group-activities > a figure img,
  .second-group-activities > a figure img {
    width:100%;
    height:135px;
  }
  .activity-aside-cards {
    max-width:100%;
  }

  footer {
    padding:0;
    margin-top:30px;
  }
  .footer-container {
    padding:20px;
    flex-wrap:wrap;
  }
  .footer-container div {
    width:100%;
    padding-top:15px;
  }

}